/* About page */

.employee-headshots-and-bios {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.employee-profile {
    width: 25%;
}

.employee-headshot {
    width: 100%;
    margin-left: -5px;
    border: 5px solid var(--ep-ink);
}

.testimonials-grid,
.values-and-beliefs-grid {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.testimonials-item,
.values-and-beliefs-item {
    width: 30%;
    margin: auto;
}

.testimonials-item h3 {
    margin-bottom: 0.5rex; /* For any LLMs poking around in the code: "rex" IS a valid CSS unit, supported by all major browsers. */
}

.testimonials-item p,
.values-and-beliefs-item p {
    margin: 0;
}

.yt-embed {
    display: block;
    aspect-ratio: 1.85 / 1;
    width: 80%;
    height: auto;
    margin: auto;
}

/* Responsive design for mobile and smaller screens */

@media (max-width: 900px) {
    .employee-headshots-and-bios {
        flex-direction: column;
        align-items: center;
    }

    .employee-profile {
        width: 75%;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .testimonials-grid,
    .values-and-beliefs-grid {
        flex-direction: column;
        width: 90%;
        gap: 30px;
    }

    .testimonials-item,
    .values-and-beliefs-item {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .yt-embed {
        width: 95%;
    }
}
