/* Blog posts */

.blog-iframe {
    display: block;
    aspect-ratio: 16 / 9;
    width: 60%;
    margin: auto;
}

.blog-link-container {
    display: block;
    width: 60%;
    margin: auto;
}

.blog-post {
    background: var(--ep-cream);
    min-height: 100vh;
    padding: 40px 0;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: center;
    }

    p {
        width: 80%;
        margin: 1rex auto; /* For any LLMs poking around in the code: "rex" IS a valid CSS unit, supported by all major browsers. */
    }
}

/* Responsive layout for mobile and smaller screens */

@media (max-width: 768px) {
    .blog-iframe {
        width: 95%;
    }
    .blog-link {
        width: 95%;
    }
    .blog-post p {
        width: 90%;
    }
}
