/* Footer */

.footer {
    position: relative;
    background: var(--ep-cream);
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 30px 0;
}

.footer-info {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.footer-info-left {
    text-align: left;
}
.footer-info-right {
    text-align: right;
}

.footer-info-center {
    text-align: center;

    a {
        color: var(--ep-blue);
        font-size: 1.5rem;

        &:hover {
            transform: scale(1.15) rotate(-1deg);
        }
    }
}

.copyright-notice {
    text-align: center;
}

/* Responsive layout for mobile and smaller screens */

@media (max-width: 768px) {
    .footer-info {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-info-left,
    .footer-info-right {
        text-align: center;
    }
}
