/* Utility classes */

.text-center {
    text-align: center;
}
.min-h-50vh {
    min-height: 50vh;
}

.section-title {
    width: 80%;
    margin: auto;
}

.content-list {
    width: 80%;
    margin: auto;
}

.list-none {
    list-style-type: none;
    padding: 0;
}

hr.divider-short {
    width: 25% !important;
    margin: 0 !important;
}
