:root {
    font-size: 18px;
    font-family: "Roboto", sans-serif;

    --colour-grey: rgba(42, 40, 41, 1);
    --colour-white: rgba(255, 255, 255, 1);
    --colour-beige: rgba(224, 224, 218, 1);
    --colour-black: rgba(0, 0, 0, 1);
    --colour-blue: rgba(22, 26, 64, 1);
    --colour-light-grey: rgba(156, 155, 155, 1);
}

/*
    Font weight notes:
        Thin       = 100
        ExtraLight = 200
        Light      = 300
        Regular    = 400
        Medium     = 500
        SemiBold   = 600
        Bold       = 700
        ExtraBold  = 800
        Black      = 900
*/

body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.hero-banner {
    display: grid;
    grid-template-columns: minmax(100px, 1fr);
    gap: 30px;
    background: var(--colour-blue);
    width: 100vw;
    margin: 0;
    padding: 25px 50px;
}

.hero-banner .logo-area {
    margin: 0;
    padding: 0;
    width: fit-content;
    color: var(--colour-white);
}

.hero-banner .head-area {
    margin: 0;
    padding: 0;
    color: var(--colour-white);
}

.logo {
    width: 100%;
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 3rem;
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2.5rem;
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 2rem;
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 1.75rem;
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 1.5rem;
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h6 {
    font-size: 1.25rem;
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: var(--colour-grey);
}

.navbar li {
    float: left;
}
